<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand btn p3" (click)="mostrarEjercicioUno()"> Ej Botón-Rojo </a>
    <a class="navbar-brand btn" (click)="mostrarEjercicioDos()">  Ej Botones Colores </a>
    <a class="navbar-brand btn" (click)="mostrarEjercicioTres()">  Ej Uso Directivas </a>
    <a class="navbar-brand btn" (click)="mostrarEjercicioCuatro()">  Ej Directiva Personalizada</a>
</nav>

<!-- 1- Ejercicio. Primera Versión -->
<contenedor-padre-ej1 *ngIf="ejercicio1Activo"></contenedor-padre-ej1>

<!-- 1- Ejercicio. Segunda Versión -->
<contendor-padre-ej2 *ngIf="ejercicio2Activo"></contendor-padre-ej2>

<!-- 2- Ejercicio -->
<secciones-padre *ngIf="ejercicio3Activo"></secciones-padre>

<!-- 3-Ejercicio. Aún está sin terminar, sólo hace una parte -->
<app-practica-directiva-personalizada *ngIf="ejercicio4Activo"></app-practica-directiva-personalizada>