<div class="container m-3 bg-info text-center text-white">
    <h4>Hola soy el componente Padre</h4>

    <contenedor-hijo-ej2 [colorFromPadre]=colorBck></contenedor-hijo-ej2>

    <!--botones-->
    <button class="btn btn-danger m-2" (click)="cambiarColor('rojo')">
        Rojo
    </button>
    <button class="btn btn-primary m-2" (click)="cambiarColor('azul')">
        Azul
    </button>
    <button class="btn btn-success m-2" (click)="cambiarColor('verde')">
        Verde
    </button>
</div>