<div class="container primary text-center m-3 p-4">
    <div>
        <h3 class="bg-dark text-center text-white m-2 p-3">My Articles</h3>
        <button class="btn mce-btn-large btn-dark font-italic" (click)="ToggleForArticles()">Show/Hide</button>
    </div>

    <div class="container" *ngIf="mostrarArticulo">
        <app-articulo *ngFor="let art of numRepeticiones"></app-articulo>
    </div>
</div>