<div class="container card-block border pt-2 m-2">
    <h4 class="card-title">{{titulo}}</h4>
    <p class="card-text text-primary" [ngClass]="bckColorSelected">{{texto}}</p>

    <div class="container text-center m-2">
        <button class="btn btn-danger m-2" (click)="changeBckToRed()">Rojo</button>
        <button class="btn btn-success m-2" (click)="changeBckToGreen()">Verde</button>
    </div>
</div>