<div class="container m-3 bg-info text-center text-white">
    <h4>Hola soy el componente Padre</h4>

    <contenedorHijo-ej1 [cambioColorFromPadre]=btnPulsado></contenedorHijo-ej1>


    <button class="btn btn-danger m-2" (click)="cambiarColor()">
        Rojo
    </button>
</div>